<?xml version="1.0"?>
<config>
    <modules>
        <Studioforty9_Banner>
            <version>0.1.0</version>
        </Studioforty9_Banner>
    </modules>
    <global>
        <models>
            <studioforty9_banner>
                <class>Studioforty9_Banner_Model</class>
            </studioforty9_banner>
        </models>
        <blocks>
            <studioforty9_banner>
                <class>Studioforty9_Banner_Block</class>
            </studioforty9_banner>
        </blocks>
        <helpers>
            <studioforty9_banner>
                <class>Studioforty9_Banner_Helper</class>
            </studioforty9_banner>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <studioforty9_banner>
                    <file>studioforty9_banner.xml</file>
                </studioforty9_banner>
            </updates>
        </layout>
    </frontend>
    <default>
        <studioforty9_banner>
            <settings>
                <enabled>0</enabled>
            </settings>
        </studioforty9_banner>
    </default>
</config>